<h2> Usuarios </h2>

<table class="w3-table-all">
  <% for (var i in users) { %>
    <tr>
      <td> 
        <p><a href="/users/<%= users[i].id %>" ><%= users[i].username %></a>
        <%= users[i].isAdmin ? "(admin)" : "" %></p>
      </td>
  <% if (session.user) { %>  

      <td>
      <% if (session.user.isAdmin || session.user.id === users[i].id) { %>
        <a href="/users/<%= users[i].id %>/edit"><button class="w3-button w3-green">Editar</button></a>
          <%  } %>
      </td>
      <td>
      <% if (session.user.isAdmin || session.user.id === users[i].id) { %>
        <a href="/users/<%= users[i].id %>?_method=DELETE" 
           onClick="return confirm('Borrar cuenta: <%= users[i].username %>');">
           <button class="w3-button w3-red">Borrar</button> 
      <%  } %>
        </a> 
      </td>

      <td>
        <% if (session.user.isAdmin || session.user.id === users[i].id) { %>
        <p><%= users[i].Carrito %></p>
          <%  } %>
      </td>


  <%  }; %>
    </tr>
  <%  }; %>
</table>
<br/>
<% if (session.user) { %>  
<div class="w3-row-padding">
    <div class="w3-bar">
        <a href="/users/new"><button class="w3-button w3-blue" type="button">Nuevo usuario</button></a>
    </div>
</div>
<%  }; %> 
